body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    margin: 0;
    padding: 0;
} 

.container {
    width: 100%;
    max-width: 1430px;
    padding: 70px;
    margin: 0 auto;
}

.willow {
    box-shadow: 0 4px 68px 0 rgba(0,0,0,.35);
    padding: 125px 95px 110px;
}

.title-holder {
    color: #171717;
    font-family: 'PlayFair Display';
    font-size: 41px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.005em;
    padding: 15px 30px;
}

.text-holder p {
    color: rgba(23,23,23,.6);
    font-family: lato;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: -0.005em;
    line-height: 34px;
    padding: 30px;
}

.text-holder > p:first-child::first-letter {
    color: rgba(23,23,23,1);
    font-family: 'PlayFair Display';
    font-size: 110px;
    float: left;
    padding: 26px 34px 10px 0;
}

.text-holder q {
    quotes: none;
    font-family: lato;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
}

.quotes {
    font-size: 60px;
    font-style: italic;
    padding: 10px;
}

.btn {
    display: flex;
    width: 100%;
    max-width: 260px;
    padding: 10px 30px;
}

.btn a {
    color: #eaa258;
    text-decoration: none;
    text-transform: uppercase;
    font-family: lato;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.2em;
    border: 2px solid #eaa258;
    padding: 26px 75px;
}

.btn a:hover {
    color: #fff;
    background-color: #eaa258;
    transition: background .1s ease-in-out;
}